.navMenu {
  list-style-type: none;
}
.navItems {
  padding-right: 10px;
}
.nsaTitle {
  padding-left: 10px;
  padding-bottom: 4px;
  font-size: 20px;

}
.nsaTitle  a {
  color: #b1a8b6;
  text-decoration: none;
  padding: 5px;
}
.nsaTitle  a:hover {
 border-radius: 10px;
 background-color: #9590A8;
 color: #EC9F45;
}
.navItems a {
  color: white;
  text-decoration: none;
  padding: 5px;
}
.navItems a:hover {
  border-radius: 10px;
  background-color: #9590A8;
  color: #EC9F45;
}
.navBox {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #4b186e;
  z-index: 6;
}
.navControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}




.navBox {
  margin: 0;
  padding: 0;

  /* make it look decent enough */
  /*background: #232323;*/
  color: white;
  /*font-family: "Avenir Next", "Avenir", sans-serif;*/
   /*overflow-x: hidden;*/
}

li.navItems {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

li.navItems:hover {
  color: tomato;
}

#menuToggle {
  display: block;
  position: relative;
  right: 20px;
  float: right;
  /*left: 50px;*/
  z-index: 6;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 6; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}


 /*hamburger menu*/

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 6;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}


 /*Transform all the slices of hamburger
 into a crossmark.*/

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

.navMenu {
  position: absolute;
  border-radius: 5px;
  width: 250px;
  margin: -100px 0 0 0;
  padding: 40px;
  padding-top: 100px;
  right: -100px;
  background: rgba(138,120,140, 0.7);
  z-index: 4;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

li.navItems {
  padding: 5px;
  font-size: 20px;
}


 /*fade it in from the left*/

#menuToggle input:checked ~ ul {
  transform: scale(1.0, 1.0);
  opacity: 1;
}
